.loader-fullscreen {
  height: 100vh;
  width: 100vw;
  background-color: #e5e7eb; /* Light gray */
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader-icon {
  width: 6rem;   /* Bigger loader */
  height: 6rem;
  animation: spin 1s linear infinite;
  color: #800000; /* Maroon */
}

/* Spin animation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
